<div id="athlete-prefs-rx" class="card bg-base-100 w-full shadow-2xl">
  <div class="card-body">
    <div class="text-lg font-semibold">RX / Scaled</div>
    <div class="text-xs">Select scaling</div>
    <div class="text-xs">It'll save automatically</div>
    <div id="rxspinner" class="htmx-indicator text-xs transition ease-in-out duration-500">Saved ✅</div>
    <select name="new_rx_pref" class="select w-full max-w-xs" hx-put="/athlete_prefs/rx/{{ rx_pref.athlete_id }}"
      hx-target="#athlete-prefs-rx" hx-swap="outerHTML" hx-indicator="#rxspinner">
      {% for arx in allowed_rx %}
      {% if rx_pref.rx_pref == arx %}
      <option selected value="{{ arx }}">{{ arx }}</option>
      {% else %}
      <option value="{{ arx }}">{{ arx }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
