{% for id, values in attendance.items() %}
<tr>
    <td>{{ values.name }} </td>
    {% for ordinal in info.event_names %}
    <td>
        {{ render_partial("partials/athlete_attendance_td.jinja2", id=id, ordinal=ordinal, values=values) }}
    </td>
    {% endfor %}
</tr>
{% endfor %}