
<div id="athlete-prefs-time" class="card bg-base-100 w-full shadow-2xl">
  <div class="card-body">
    <div class="text-lg font-semibold">Time Preferences</div>
    <div class="text-xs">Drag and drop time slots</div>
    <form id="athlete-time-prefs" class="sortable grid gap-2" hx-put="/athlete_prefs/time/{{ time_prefs[0].athlete_id }}" hx-trigger="end"
      hx-target="#athlete-prefs-time" hx-swap="outerHTML">
      {% for row in time_prefs %}
      {% if "pm" in row.preference %}
      <div class="block py-1 px-4 border rounded-md text-center bg-base-300"><input type="hidden" name="time_pref"
          value="{{ row.preference }}">{{ row.preference }}</div>
      {% else %}
      <div class="block py-1 px-4 border rounded-md text-center"><input type="hidden" name="time_pref"
          value="{{ row.preference }}">{{ row.preference }}</div>
      {% endif %}
      {% endfor %}
    </form>
  </div>
</div>