{% for id, values in attendance.items() %}
<tr>
    <td>{{ values.name }} </td>
    {% for ordinal in info.event_names %}
    <td>
        {% if ordinal|int in values %}
        {{ render_partial("partials/athlete_attendance_td_delete.jinja2", id=id, ordinal=ordinal)}}
        {% else %}
        {{ render_partial("partials/athlete_attendance_td_post.jinja2", id=id, ordinal=ordinal)}}
        {% endif %}
    </td>
    {% endfor %}
</tr>
{% endfor %}