{% for athlete in athlete_teams %}
<tr x-data="{ editing: false }">
    <td>{{ athlete.get("name")}} </td>
    <td x-show="! editing">{{ athlete.get("team_name")}} </td>
    <td x-show="! editing">{{ athlete.get("tl_c")}} </td>
    <td x-show="! editing">
        <button @click="editing = true" class="btn btn-xs hover:btn-primary">Edit</button>
    </td>
    <td x-show="editing">
        <input hx-put="/assign_athlete_team/{{ athlete.get('competitor_id') }}" hx-trigger="keyup[key=='Enter']"
            hx-swap="outerHTML" type="text" class="border rounded-md" name="team_name"
            value="{{ athlete.get('team_name') }}" />
    </td>
    <td x-show="editing">
        <input hx-put="/assign_athlete_team_leader/{{ athlete.get('competitor_id') }}" hx-trigger="keyup[key=='Enter']"
            hx-swap="outerHTML" type="text" class="border rounded-md w-8" name="tl_c" value="{{ athlete.get('tl_c') }}" />
    </td>
    <td x-show="editing">
        <button @click="editing = false" class="btn btn-xs hover:btn-error">Done</button>
    </td>
    <td x-show="editing">
        Type & press Enter
    </td>
</tr>
{% endfor %}