<meta http-equiv="refresh" content="1; URL='/'" />

<div class="hero">
  <div class="hero-content flex-col text-center">
    <div class="text-4xl font-bold">
      <span>Login successful</span>
    </div>
  </div>
</div>