<div>
  <ul>
    <li class="p-2 text-md rounded font-semibold hover:text-primary">
      <a href="/">Home</a>
    </li>
    <li class="p-2 text-md rounded font-semibold hover:text-primary">
      <a href="/team_members">Team Members</a>
    </li>
    <li class="p-2 text-md  rounded ">
      Team Scores
      <ul>
        {% for ordinal, event in info.event_names.items() %}
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href={{ "/team_scores/" ~ ordinal }}>{{ event }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="p-2 text-md rounded">
      Leaderboard
      <ul>
        {% for ordinal, event in info.event_names.items() %}
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href={{ "/leaderboard/" ~ ordinal }}>{{ event }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="p-2 text-md rounded">
      Athlete Scores
      <ul>
        {% for ordinal, event in info.event_names.items() %}
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href={{ "/athlete_scores/" ~ ordinal }}>{{ event }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% if "rjtc_admin" in request.headers %}
    <li class="p-2 text-md rounded">
      Admin
      <ul>
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href="/assign_teams">Manual Team Assign</a>
        </li>
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href="/auto_team_assign">Auto Team Assign</a>
        </li>
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href="/rename_teams">Rename Teams</a>
        </li>
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href="/attendance">Attendance</a>
        </li>
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href="/side_scores">Side Scores</a>
        </li>
      </ul>
    </li>
    {% endif %}
  </ul>
</div>
<div class="mt-auto">
  {% include "partials/admin_btn.jinja2" %}
  <p class="m-4 text-xs text-center ">
    <span>Copyright © 2025</span>
    <span>Shubham AI</span>
  </p>
</div>