{% extends "base.jinja2" %}

{% block content %}
<meta http-equiv="refresh" content="1; URL='/'" /> 

<div class="flex h-screen">
  <div class="m-auto">
    <div class="text-6xl">NO REP!!!
    </div>
  </div>
</div>

{% endblock content %}