{% extends "base.jinja2" %}

{% block content %}
<div class="flex w-full flex-col">
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">
    Assign Teams 
  </div>
  <div class="overflow-auto">
    <div class="flex flex-col sm:flex-row justify-evenly ">
      {% for team_name in teams if team_name != "zz" %}
      <ul class="list flex-auto bg-base-100 rounded-box m-2 px-2 shadow-md">
        <li class="p-2 mb-2 bg-base-300 rounded-box shadow-md text-center text-wrap">{{team_name}}</li>
        {% for row in teams.get(team_name) %}
        <li class="list-row text-center text-wrap pb-1">{{ row.get("name")}}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock content %}