{% extends "base.jinja2" %}

{% block content %}

<div class="hero flex flex-col ">

  <div class="hero-content flex-col w-full max-w-xs">
    <div class="text-center">
      <div class="text-4xl font-bold">Athlete Preferences</div>
    </div>
    <div class="card bg-base-100 w-full shadow-2xl">
      <div class="card-body">
        <div class="text-lg font-semibold">Select Athlete</div>
        <select name="athlete_id" class="select w-full max-w-xs" hx-post="/athlete_prefs"
          hx-target="#athlete-prefs-table" hx-swap="innerHTML">
          <option disabled selected>Name</option>
          {% for row in athletes %}
          <option value="{{ row.id }}">{{ row.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div id="athlete-prefs-table" class="hero-content flex-col w-full max-w-xs"></div>
</div>
</div>

{% endblock content %}