{% extends "base.jinja2" %}

{% block content %}

<div class="flex w-full flex-col">
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">
    Athlete Scores {{ event_name }}
  </div>

  {% for category in scores %}
  <div class="card mt-4 bg-base-300 rounded-box grid h-10 place-items-center text-md font-bold">
    {{category}}
  </div>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-xs">
      <thead>
        <tr>
          <th>RX/Scaled</th>
          <th>Rank</th>
          <th>Name</th>
          <th>Valid</th>
          <th>Team</th>
          <th>TL/C</th>
          <th>Score</th>
          <th>Reps</th>
          <th>Time</th>
          <th>Tiebreak</th>
          <th>Participation</th>
          <th>Top3</th>
          <th>Attendance</th>
          <th>Judge</th>
          <th>Appreciation</th>
          <th>Side Challenge</th>
          <th>Spirit</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for athlete in scores[category] %}
        <tr>
          <td>{{ athlete.affiliate_scaled }}</td>
          <td>{{ athlete.affiliate_rank }}</td>
          <td>{{ athlete.name }}</td>
          <td>{{ athlete.valid }}</td>
          <td>{{ athlete.team_name }}</td>
          <td>{{ athlete.team_leader|replace("2","TL")|replace("1","C")|replace("0","") }}</td>
          <td>{{ athlete.score_display }}</td>
          <td>{{ athlete.reps }}</td>
          <td>{{ athlete.time_ms }}</td>
          <td>{{ athlete.tiebreak_ms }}</td>
          <td>{{ athlete.participation_score }}</td>
          <td>{{ athlete.top3_score }}</td>
          <td>{{ athlete.attendance_score }}</td>
          <td>{{ athlete.judge_score }}</td>
          <td>{{ athlete.appreciation_score }}</td>
          <td>{{ athlete.side_challenge_score }}</td>
          <td>{{ athlete.spirit_score }}</td>
          <td>{{ athlete.total_score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
</div>

{% endblock content %}