{% extends "base.jinja2" %}

{% block content %}

<div class="flex w-full flex-col">
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">
    Athlete Scores {{ event_name }}
  </div>

  {% for category in scores %}
  <div class="card mt-4 bg-base-300 rounded-box grid h-10 place-items-center text-md font-bold">
    {{category}}
  </div>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-xs">
      <thead>
        <tr>
          <th>RX/Scaled</th>
          <th>Rank</th>
          <th>Name</th>
          <th>Valid</th>
          <th>Team</th>
          <th>Score</th>
          <th>Reps</th>
          <th>Time</th>
          <th>Tiebreak</th>
          <th>Participation</th>
          <th>Top3</th>
          <th>Attendance</th>
          <th>Judge</th>
          <th>Side Challenge</th>
          <th>Spirit</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for athlete in scores[category] %}
        <tr>
          <td>{{ athlete.get("affiliate_scaled","") }}</td>
          <td>{{ athlete.get("affiliate_rank","") }}</td>
          <td>{{ athlete.get("name","") }}</td>
          <td>{{ athlete.get("valid","") }}</td>
          <td>{{ athlete.get("team_name", "") }}</td>
          <td>{{ athlete.get("score_display", "") }}</td>
          <td>{{ athlete.get("reps", "") }}</td>
          <td>{{ athlete.get("time_ms", "") }}</td>
          <td>{{ athlete.get("tiebreak_ms", "") }}</td>
          <td>{{ athlete.get("participation_score", "") }}</td>
          <td>{{ athlete.get("top3_score", "") }}</td>
          <td>{{ athlete.get("attendance_score", "") }}</td>
          <td>{{ athlete.get("judge_score", "") }}</td>
          <td>{{ athlete.get("side_challenge_score", "") }}</td>
          <td>{{ athlete.get("spirit_score", "") }}</td>
          <td>{{ athlete.get("total_score", "") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
</div>

{% endblock content %}