{% extends "base.jinja2" %}

{% block content %}
<div x-data="{ show_progress: false }" class="flex w-full flex-col">
  <div class="card bg-base-100 rounded-box grid place-items-center text-lg font-bold">
    <button @click=" show_progress=true " hx-post="/auto_assign_teams" hx-target="#team-members-list" hx-trigger="click delay:3s"
      class="btn btn-wide m-4 btn-primary">Assign teams</button>
  </div>
  <progress x-show="show_progress" class="progress"></progress>
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">
    Team Members
  </div>
  <div class="overflow-auto">
    <div id="team-members-list" class="flex flex-col sm:flex-row justify-evenly ">
      {% include "partials/team_members_list.jinja2" %}
    </div>
  </div>
</div>
</div>
{% endblock content %}