{% extends "base.jinja2" %}

{% block content %}
<div class="grid grid-rows-2 grid-cols-2 gap-0">
  <img class="col-span-2" src="/static/images/mf_open_pic_cropped_1280.JPG" />
  <img class="object-scale-down" src="/static/images/mf_open_scoresheet_cropped_1280.jpg" />
  <img class="object-scale-down" src="/static/images/mf_t_pullup_cropped_1280.jpg" />
</div>
{% endblock content %}