{% extends "base.jinja2" %}

{% block content %}
<div class="grid grid-cols-2 gap-0">
  <img class="object-scale-down" src="/static/assets/mf_open_scoresheet_cropped_1280.jpg" />
  <img class="object-scale-down" src="/static/assets/mf_t_pullup_cropped_1280.jpg" />
  <img class="col-span-2" src="/static/assets/mf_open_pic_cropped_1280.JPG" />
  <img class="object-scale-down" src="/static/assets/mf_bhakti.JPEG" />
  <img class="object-scale-down" src="/static/assets/mf_nikhil.jpg" />
  <img class="object-scale-down" src="/static/assets/mf_karan.JPG" />
  <img class="object-scale-down" src="/static/assets/mf_mom.jpg" />
</div>
{% endblock content %}