{% extends "base.jinja2" %}

{% block content %}

<div class="flex w-full flex-col">
  <div class="card bg-base-300 mb-2 rounded-box grid h-12 place-items-center text-lg font-bold">
    Leaderboard {{ event_name }}
  </div>

  {% for category in leaderboard %}
  <div class="card  mt-2 bg-base-300 rounded-box grid h-10 place-items-center text-md font-bold">
    {{category}}
  </div>
  <div class="overflow-x-auto ">
    <table class="table">
      <thead>
        <tr>
          <th>RX/Scaled</th>
          <th>Rank</th>
          <th>Name</th>
          <th>Team</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for athlete in leaderboard[category] %} <tr>
          <td>{{ athlete.affiliate_scaled }}</td>
          <td>{{ athlete.affiliate_rank }}</td>
          <td>{{ athlete.name }}</td>
          <td>{{ athlete.team_name }}</td>
          <td>{{ athlete.score_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
</div>

{% endblock content %}