{% extends "base.jinja2" %}

{% block content %}

<div class="hero flex flex-col sm:flex-row justify-evenly">

  <div class="hero-content flex-col">
    <div class="text-center">
      <div class="text-4xl font-bold">Assign Teams</div>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <form class="form-control" type="search" placeholder="Search Name" hx-post="/athlete_teams_tbody"
          hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load" hx-target="#search-results">
          <label class="label">
            <span class="label-text">Name</span>
          </label>
          <input name="name" id="Name" placeholder="name" class="input input-bordered" />
        </form>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table table-xs">
        <thead>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>TL / C</th>
          </tr>
        </thead>
        <tbody id="search-results">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}