{% extends "base.jinja2" %}

{% block content %}

<div class="hero flex flex-col sm:flex-row justify-evenly">

  <div class="hero-content flex-col">
    <div class="text-center">
      <div class="text-4xl font-bold">Rename Teams</div>
      <div class="text-xs mt-4">Type & press enter to change</div>
      
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
      {% for team in teams %}
       <input type="text" name="team_name_new" hx-put="/rename_team/{{team}}" hx-trigger="keyup[key=='Enter']" hx-swap="none" class="input input-bordered w-full max-w-xs" placeholder="{{team}}"/>
      {% endfor %}
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}