{% extends "base.jinja2" %}

{% block content %}

<div class="hero flex flex-col sm:flex-row justify-evenly">

  <div class="hero-content flex-col">
    <div class="text-center">
      <div class="text-4xl font-bold">Rename Teams</div>
    </div>
    <div class="card bg-base-100 w-full shadow-2xl">
      <div class="flex flex-col w-full">
        {% for team in teams %}
        <div class="rename-team flex flex-col gap-2 justify-between m-4">
          <span>{{team}}</span>
          <input type="text" name="team_name_new" class="input input-bordered" required />
          <button hx-put="/rename_team/{{team}}" hx-target="body" hx-include="closest .rename-team"
            class="btn btn-primary">Submit</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock content %}