{% extends "base.jinja2" %}

{% block content %}

<div class="hero flex flex-col sm:flex-row justify-evenly">

  <div class="hero-content flex-col">
    <div class="text-center">
      <div class="text-4xl font-bold">Rename Teams</div>
    </div>
    <div class="card bg-base-100 w-full shadow-2xl">
      <div class="card-body flex">
        <div class="overflow-x-auto">
          <table class="table">
            <tbody>
              {% for team in teams %}
                <tr>
                  <td>{{team}}</td>
                  <td>
                    <input type="text" name="team_name_new" class="input input-bordered" required/>
                  </td>
                  <td>
                    <button hx-put="/rename_team/{{team}}" hx-target=".hero-content" hx-swap="outerHTML"  hx-include="closest tr" class="btn btn-primary">Submit</button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}