{% extends "base.jinja2" %}

{% block content %}
<div class="flex w-full flex-col">
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">Assign Side Challenge Score
  </div>
  <div class="overflow-auto">
    <div class="flex justify-evenly ">
      <ul>
        {% for ordinal, event in info.event_names.items() %}
        <li class="p-1 ml-4 text-md font-semibold rounded hover:text-primary">
          <a href={{ "/athlete_scores/" ~ ordinal }}>{{ event }}</a>
        </li>
        {% endfor %}
      </ul>


    </div>

  </div>


</div>
</div>
{% endblock content %}