{% extends "base.jinja2" %}

{% block content %}
<div class="flex w-full flex-col">
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">
    Team Scores {{ event_name }}
  </div>
  <div class="divider"></div>
  <div class="overflow-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Score</th>
          {% for team in scores %}
          <th>{{team}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Athlete Count</td>
          {% for team in scores.values() %}
          <td>{{team.get("count",0)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Participation</td>
          {% for team in scores.values() %}
          <td>{{team.get("participation",0)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Top 3</td>
          {% for team in scores.values() %}
          <td>{{team.get("top3_score",)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Attendance</td>
          {% for team in scores.values() %}
          <td>{{team.get("attendance_score",0)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Judge</td>
          {% for team in scores.values() %}
          <td>{{team.get("judge_score",0)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Side Challenge</td>
          {% for team in scores.values() %}
          <td>{{team.get("side_challenge_score",0)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Spirit</td>
          {% for team in scores.values() %}
          <td>{{team.get("spirit_score",0)}}</td>
          {% endfor %}
        </tr>

      </tbody>
      <tfoot class="bg-base-300 font-bold">
        <tr>
          <td>{{ event_name }} Overall Score</td>
          {% for team in scores.values() %}
          <td>{{team.get("total_score",0)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Intramural Overall Score</td>
          {% for team in overall_score.values() %}
          <td>{{team.get("overall_score",0)}}</td>
          {% endfor %}
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{% endblock content %}