{% extends "base.jinja2" %}

{% block title %}
{{info.affiliate_name}} - Open {{info.year}} Intramural
{% endblock title %}

{% block heading %}
{{info.affiliate_name}} - Open {{info.year}} Intramural
{% endblock heading %}

{% block menu %}
<ul>
  <li class="p-2 text-md rounded">
    Team Scores
    <ul>
      {% for ordinal, event in info.event_names.items() %}
      <li class="p-2 ml-4 text-md font-semibold rounded hover:text-primary">
        <a href={{ "/team_scores/" ~ ordinal }}>{{ event }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
<ul>
  <li class="p-2 text-md rounded">
    Leaderboard
    <ul>
      {% for ordinal, event in info.event_names.items() %}
      <li class="p-2 ml-4 text-md font-semibold rounded hover:text-primary">
        <a href={{ "/leaderboard/" ~ ordinal }}>{{ event }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
{% if admin %}
<ul>
  <li class="p-2 text-md rounded">
    Admin
    <ul>
      <li class="p-2 ml-4 text-md font-semibold rounded hover:text-primary">
        <a href="/admin/team_members">Team Members</a>
      </li>
      <li class="p-2 ml-4 text-md font-semibold rounded hover:text-primary">
        <a href="/admin/team_scores">Team Scores</a>
      </li>
    </ul>
  </li>
</ul>
{% endif %}
{% endblock menu %}

{% block content %}

<div class="flex w-full flex-col">
  <div class="card bg-base-300 rounded-box grid h-12 place-items-center text-lg font-bold">
    Leaderboard {{ event_name }}
  </div>
  <div class="divider"></div>

  {% for category in leaderboard %}
  <div class="card bg-base-300 rounded-box grid h-10 place-items-center text-md font-bold">
    {{category}}
  </div>
  <div class="overflow-x-auto">
    <table class="table table-pin-rows table-pin-cols">
      <thead>
        <tr>
          <th>RX/Scaled</th>
          <th>Rank</th>
          <th>Name</th>
          <th>Team</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for athlete in leaderboard[category]   %}
        <tr>
          <td>{{ athlete.get("affiliate_scaled","") }}</td>
          <td>{{ athlete.get("affiliate_rank","") }}</td>
          <td>{{ athlete.get("name","") }}</td>
          <td>{{ athlete.get("team_name", "") }}</td>
          <td>{{ athlete.get("score_display", "") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
</div>

{% endblock content %}